
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --secondary-bg: #313030;
    --accent-color: #ff2d2d;

    --font-size-lg: 24px;
    --font-size-lx: 42px;
    --font-size-xxl: 60px;
    --font-size-md: 16px;

    --font-family-main: "Open Sans", sans-serif;

    --contenct-width: 1280px;
}
body {
    font-family: var(--font-family-main);
    overflow-x: hidden;
    font-size: var(--font-size-md);

}

.container {
    max-width: var(--contenct-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    margin-bottom: 50px;
}

.block-tittle {
    font-size: var(--font-size-lx);
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
}

header {
    background-color: #f6f2f2;
    padding-top: 30px;
}

header .menu {
    background-color: var(--secondary-bg);
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

header nav a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 30px 25px;
    height: 100%;
    display: inline-block;
    text-transform: uppercase;

}

header nav a:hover {
    transition: background-color .3s;
    background-color: var(--accent-color);
}

.btn {
    padding: 12px 45px;
    font-size: var(--font-size-md);
    border-radius: 5px;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
}

.btn-filled {
    background-color: var(--accent-color);
    color: white;
}

.btn.btn-outline {
    color: var(--accent-color);
    border-color: var(--accent-color);

}

.banner {
    padding: 105px 0;
    background-color: #f6f2f2;
}

.banner .banner__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner .banner__content .col {
    width: 50%;
}

.banner h1 {
    font-weight: 800;
    font-size: var(--font-size-xxl);
    text-transform: uppercase;
    color: black;
    line-height: 78px;
}

.banner .banner__description {
    color: #585858;
    font-size: var(--font-size-md);
    margin: 35px 0;
    max-width: 86%;
}

.banner .col iframe {
    width: 100%;
    border: none;
    height: 100%;
}


.banner .col.left {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.banner .col.right {
    box-shadow: -21px -1em 3em #afafaf;;
}



.services {
    margin: 110px 0 0;
}

.services.col {
    width: 50%;
}

.services .col:first-child {
    padding-right: 90px;
    width: 50%;
}

.services .col:last-child {
    padding-left: 45px;
    width: 50%;
}

.services .services__description {
    margin: 35px 0;
    font-size: var(--font-size-md);
    max-width: 92%;
}

.services .services__list {
    display: flex;
    flex-wrap: wrap;
}

.services .services_item {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 50px;
}

.services .services_item p{
    font-size: 16px;
}

.services .services_item img {
    width: 20%;
    margin-bottom: 20px;
}

.services .services_item h3 {
    font-size: 24px;
    font-weight: bold;
    color: #585858;
    padding-bottom: 5px;
}

hr {
    max-width: 1280px;
}

.product {
    margin-bottom: 99px;
    margin-top: 100px;
}

.product .product-header {
    margin-bottom: 90px;
}

.product .block-tittle {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

.product .product-p {
    text-align: center;
    margin: 0 auto 20px;
    line-height: 28px;
    max-width: 505px;
}

hr.red {
    border: none;
    background-color: var(--accent-color);
    color: var(--accent-color);
    height: 1px;
    margin-top: 10px;
    max-width: 130px;
}

.product ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-bottom: 65px;
    padding-left: 0;
}

.product a {
    color: #4c4c4c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.product a:hover {
    color: var(--accent-color);
}

.product div.img {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product img {
    width: calc(25% - 15px);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.product img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.team{
    margin-bottom: 100px;
}

.team div.team-content {
    margin-bottom: 70px;
}

.team hr.hr {
    border: none;
    background-color: var(--accent-color);
    color: var(--accent-color);
    height: 1px;
    max-width: 130px;
    margin-left: 1px;
}
.team .photo-block{
    margin-top: 3px;
}

.team div.team {
    display: flex;
}

.team .photo-tittle {
    margin-right: 50px;
}

.team .block-tittle {
    margin-bottom: 40px;
}

.team .services__description {
    max-width: 636px;
    margin-bottom: 30px;
}

.team div.team-photo {
    display: flex;
    flex-wrap: wrap;
}

.team div.team-photo img {
    width: 190px;
}

.team nav.team {
    margin-bottom: 35px;
}

.team ul.team {
    display: flex;
}

.team ul.team li {
    padding-right: 20px;
    font-style: italic;
}

.team nav a {
    text-decoration: none;
    color: #333333;
}

.team .img__box {
    gap: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.team .photo {
    display: inline-block;
}

.hidden-tittle {
    opacity: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px;
    text-align: center;
}

.team .photo:hover .hidden-tittle {
    opacity: 1;
    display: inline-block;
    transition: .3s;
}

.team .photo {
    position: relative;
}

.design {
    background-image:url("../assets/img/more_zakat_gorizont_103065_3840x2160-min.jpg");
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.design .design-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.design .design-text h1 {
    font-size: var(--font-size-lx);
    color: white;
    line-height: 40px;
    margin-bottom: 45px;
}

.design .design-text p {

    margin-bottom: 65px;
    color: white;
}

.design .input {
    display: flex;
    justify-content: center;
}

.design input {
    height: 70px;
    width: 480px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    outline: none;
    padding-left: 30px;
}

.design .btn-design {
    background-color: var(--accent-color);
    color: white;
    padding: 19px 45px;
}

.contact {
    display: flex;
    margin-bottom: 55px;

}

.contact .touch .services__description {
    max-width: 676px;
    margin-bottom: 25px;
}

.contact div.touch {
    margin-bottom: 75px;
}

.contact .block-tittle {
    margin-bottom: 40px;
}

.contact hr.touch {
    border: none;
    background-color: var(--accent-color);
    color: var(--accent-color);
    height: 2px;
    max-width: 130px;
    margin-left: 1px;
}

.contact .row {
    display: flex;
}

.contact form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.contact .contact-form {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin-right: 50px;
}

.contact input.name {
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 7px;
    outline: none;
    padding-left: 30px;
    background-color: #e5e5e5;
}

.contact input.mail {
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 7px;
    outline: none;
    padding-left: 30px;
    background-color: #e5e5e5;
    padding-bottom: 5px;
}

.contact textarea.message {
    height: 250px;
    width: 100%;
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 30px;
    background-color: #e5e5e5;
    margin-top: 45px;
    resize: none;
    margin-bottom: 90px;
}


.contact form label{
    display: block;
    width: calc(50% - 25px);
}

.contact .btn-design {
    background-color: var(--accent-color);
    color: white;
    width: 100%;
    text-align: center;
}

.contact div.contact-info {
    background-color: var(--secondary-bg);
    float: left;
}

.contact .row {
    position: relative;
    justify-content: space-between;
}

.contact .row:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1000px;
    height: 100%;
    background-color: var(--secondary-bg);
    left: 100%;
}

.contact h4 {
    color: white;
    padding-top: 120px;
    padding-left: 80px;
    padding-bottom: 45px;
}

.contact div.contact-info p {
    color: white;
    padding-left: 80px;
}

.contact p.address {
    padding-bottom: 15px;
}

.contact p.town {
    padding-bottom: 35px;
}

.contact .mail {
    padding-bottom: 35px;
}

.contact .text {
    display: inline-block;
    width: 100%;
}

footer {
    background-color: var(--secondary-bg);
    color: white;
    padding: 25px;
}

footer .footer {
    display: flex;
    justify-content: space-between;
}

footer .footer-img {
    display: flex;
}

footer .footer-text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

footer ul {
    display: flex;
    margin: 0;
}

footer li {
    list-style: none;
    margin-left: 20px;
}

footer img {
    max-width: 35px;
}



@media (max-width: var(--contenct-width)){
    .container{
        max-width: 1024px;
    }
    .design .design-text h1{
        font-size: 35px;
    }
    .contact input.mail{
        width: 255px;
    }
    .contact input.name{
        width: 250px;
    }

}


@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
    .banner h1{
        font-size: 40px;
    }

    .banner .banner__description{
        font-size: 13px;
    }
    .block-tittle{
        font-size: 23px;
    }
    .services__description{
        font-size: 13px;
    }
    .services .services_item h3{
        font-size: 15px;
    }
    .services .services_item p{
        font-size: 12px;
    }
    .team div.team{
        display: flex;
        flex-wrap: wrap;
    }
    .team .img__box{
        flex-wrap: wrap;
    }
    .design .design-text h1{
        font-size: 26px;
    }
    .contact input.mail{
        width: 180px;
    }
    .contact input.name{
        width: 180px;
    }
    .contact h4{
        padding-left: 28px;
    }
    .contact div.contact-info p{
        font-size: 10px;
        padding-left: 30px;
    }

}


@media (max-width: 800px){
    .container{
        max-width: 600px;
    }
    header {
        display: none;
    }
    .banner h1 {
        font-size: 35px;
    }
    .banner .banner__description {
        font-size: 17px;
    }
    .banner .banner__content {
        display: inline-block;
    }
    .banner .banner__content .col {
        width: 100%;
    }

    .banner .col.left{
        margin-bottom: 50px;
    }
    .banner .col.right {
        padding: 0;
    }

    .block-tittle {
        font-size: 25px;
    }

    .services .row{
        display: inline-block;
    }
    .services__description {
        font-size: 16px;
    }

    .services .services__list {
        display: block;
    }
    .services .col:first-child{
        padding: 0;
        width: 100%;
        margin-bottom: 50px;
    }

    .services .col:last-child{
        padding: 0;
        width: 100%;
    }
    .services .services_item p {
        font-size: 15px;
    }

    .product ul {
        display: block;
        list-style: none;
        text-align: center;
    }
    .product a{
        font-size: 20px;

    }
    .product img {
        width: calc(50% - 15px);
        margin: 10px;
    }
    .team div.team{
        display: flex;
        flex-wrap: wrap;
    }
    .team div.team-photo {
        display: block;
    }
    .team .img__box {
        text-align: center;
        display: block;
    }
    .design .design-text h1 {
        font-size: 17px;
    }
    .design .input {
        display: block;
        text-align: center;
    }
    .design .btn-design{
        margin-top: 10px;
    }
    .services__description {
        font-size: 13px;
    }
    .contact input.mail{
        width: 130px;
    }
    .contact input.name{
        width: 130px;
    }
    .contact .row {
        display: block;
    }
    .contact .row:after{
        display: none;
    }
    .contact div.contact-info{
        margin-top: 20px;
    }
    footer .footer{
        display: block;
    }


}


@media (max-width: 640px){
    .container{
        max-width: 480px;
    }

    header nav a {
        padding: 20px 18px;
        font-size: 17px;
    }

    .banner h1 {
        font-size: 27px;
    }
    .product a {
        font-size: 20px;
    }
    .product div.img {
        display: block;
    }
    .team div.team{
        display: flex;
        flex-wrap: wrap;
    }
    .design .design-text h1 {
        font-size: 15px;
        text-align: center;
    }
    .design label{
        margin-bottom: 10px;
    }
    .services__description {
        text-align: center;
        font-size: 15px;
    }
    .design .input {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact .row {
        display: flex;
        flex-wrap: wrap;
    }
    .contact form {
        display: block;
        flex-wrap: wrap;
    }
    .contact input.mail{
        width: 183px;
    }
    .contact input.name{
        width: 183px;
        margin-bottom: 25px;
    }

    .contact textarea.message {
        width: 183px;
    }

    .contact h4{
        font-size: 14px;
    }
    .contact div.contact-info p{
        font-size: 11px;
    }
    .contact .row:after{
        left: 100%;
    }
    .contact .btn-design{
        margin-bottom: 10px;
    }

}


@media (max-width: 400px){
    .container{
        max-width: 240px;
    }

    header nav ul{
        display: block;
    }
    .block-tittle {
        font-size: 18px;
    }
    .services__description {
        font-size: 15px;
    }
    .services .services_item{
        width: 100%;
    }
    .product ul{
        display: block;
    }
    .product ul li{
        margin-bottom: 10px;
    }
    .product a{
        font-size: 20px;
    }

    .product div.img{
        display: block;
    }
    .product img{
        width: 100%;
        margin-bottom: 10px;
    }
    .team div.team{
        display: flex;
        flex-wrap: wrap;
    }
    .team .photo-tittle{
        margin-bottom: 50px;
    }
    .team ul.team{
        display: block;
    }
    .team ul.team li{
        margin-bottom: 15px;
    }
    .team .img__box{
        display: block;
    }
    .team .photo5{
        width: 191px;
    }
    .design .design-text h1 {
        font-size: 16px;
        text-align: center;
    }
    .design .design-text p {
        margin-bottom: 65px;
        text-align: center;
    }
    .contact .row{
        display: block;
    }
    .contact .contact-form{
        margin-bottom: 20px;
    }
    .contact form label {
        display: block;
    }
    .cf-preview{
        width: 0;
        height: 0;

    }
    .contact .row:after{
        width: 0;
    }
    .contact h4{
        padding-top: 0;
    }
    footer .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    footer .footer{
        display: block;
        padding: 0;
    }
    footer ul {
        display: flex;
        padding: 0;
    }


}

@media (max-width: 320px){
    .container{
        max-width: 240px;
    }
    .design input{
        width: 180px;
        margin: 0;
    }
}